.git
.gitignore
.idea
.vscode
.github
.DS_Store

__pycache__
*.pyc
*.pyo
*.pyd
.Python

*.sqlite3
db.sqlite3

.env
.env.*
!.env.example

.venv
venv
node_modules

*.md
!README.md

.pytest_cache
.ruff_cache
.mypy_cache